@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>No Privacy Policy yet...... Here's a picture of a cute baby wolf cub instead :)</p>
<img src="~/img/babywolf.jpg" />